<%- include('../../libs/html/util-pc/header', {
title: 'demo',
description: 'demo',
keywords: 'demo',
plugin: ['http://common.8864.com/web/plugins/swiper/swiper.min.css'],
private: ['../css/index.css']
}) %>
<%- include('index/banner') %>

<p> this is index demo font-size</p>
<img src="../img/demo.jpg" alt="">

<%- include('../../libs/html/util-pc/footer', {
plugin: ['https://common.8864.com/web/plugins/swiper/swiper.jquery.min.js'],
private: ['../js/index.js'],
statistics: ['']
}) %>