<%- include('../../libs/html/util-pc/header', {
title: 'demo',
description: 'demo',
keywords: 'demo',
plugin: ['http://common.8864.com/web/plugins/swiper/swiper.min.css'],
private: ['../css/index.css']
}) %>

<p style="font-size: 200px"> this is list demo </p>
<img src="../img/bg-part-0.jpg" alt="">

<%- include('../../libs/html/util-pc/footer', {
plugin: ['https://common.8864.com/web/plugins/swiper/swiper.jquery.min.js'],
private: ['../js/index.js'],
statistics: ['']
}) %>